@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@keyframes form {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.01, 1.01); }
  100% {
    transform: scale(1, 1); } }

@keyframes logo2 {
  0% {
    left: 50px;
    top: 10px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  100% {
    left: 250px;
    top: 10px;
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: FlipH;
    -ms-filter: "FlipH"; } }

* {
  margin: 0px; }

/*SECCION DEL FOOTER*/
.footer {
  background: linear-gradient(45deg, black 0%, #091825 50%, #00d4ff 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .footer .colorfooter {
    color: #FBF4A1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    width: 400px;
    text-align: center;
    padding-left: 5px; }
    .footer .colorfooter h4 {
      font-family: "Libre Bodoni";
      font-size: x-large;
      text-shadow: 3px 3px 3px black; }
    .footer .colorfooter form {
      display: flex;
      align-content: center; }
      .footer .colorfooter form input {
        width: 450px;
        height: 35px;
        background-color: black;
        border: 0;
        text-align: center; }
      .footer .colorfooter form button {
        background-color: #FBF4A1;
        border: 0;
        color: black; }
  .footer .patrocinadores {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FBF4A1;
    justify-content: space-around;
    font-family: "Libre Bodoni";
    font-size: x-large;
    text-shadow: 3px 3px 3px black; }
    .footer .patrocinadores div {
      display: flex;
      flex-direction: row; }
      .footer .patrocinadores div img {
        height: 50px;
        width: 100px; }
  .footer .footerRedesContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FBF4A1;
    width: 180px;
    font-family: "Libre Bodoni";
    font-size: x-large;
    text-shadow: 3px 3px 3px black; }
    .footer .footerRedesContacto h4 div {
      text-decoration: none;
      color: black; }

/*FIN DEL FOOTER*/
.logo {
  position: absolute;
  top: 25px; }

.menuResponsive .iconoHam {
  margin: none;
  display: none; }

.menuResponsive .navInput {
  display: none; }

.menuResponsive .navDisplay {
  display: grid;
  grid-template-columns: auto auto auto auto 150px;
  grid-template-rows: 100px;
  justify-content: end;
  align-items: center; }
  .menuResponsive .navDisplay li {
    list-style: none; }
    .menuResponsive .navDisplay li:active {
      padding-top: 1px; }
    .menuResponsive .navDisplay li a {
      box-shadow: inset 0px 0 0 0 #091825;
      color: #091825;
      margin: 0 -.25rem;
      padding: 0 .25rem;
      transition: color 1s, box-shadow 1s;
      padding: 5px 5px 5px 5px;
      border: 2px solid rgba(0, 0, 0, 0);
      border-radius: 8px;
      margin-right: 15px;
      background-color: #FBF4A1;
      color: black;
      text-decoration: none;
      font-family: "Libre Bodoni"; }
      .menuResponsive .navDisplay li a:hover {
        box-shadow: inset 150px 0 0 0 #091825;
        color: white; }

@media only screen and (max-width: 571px) {
  main .gridPadre {
    display: grid;
    grid-template: "header header" 571px "section section" auto "footer footer" auto; }
    main .gridPadre .header {
      grid-area: header;
      backdrop-filter: blur(1px); }
      main .gridPadre .header .background1 {
        background-position: center;
        background-attachment: fixed;
        background-size: 1200px;
        height: 570px;
        padding-top: 1px; }
        main .gridPadre .header .background1 div .menuResponsive label {
          display: flex;
          justify-content: end;
          margin-top: 40px;
          margin-right: 15px; }
          main .gridPadre .header .background1 div .menuResponsive label .navInput {
            position: sticky;
            top: 40px;
            left: 300px;
            display: none; }
            main .gridPadre .header .background1 div .menuResponsive label .navInput:checked + .navDisplay {
              display: grid;
              grid-template-columns: auto;
              grid-template-rows: auto auto auto auto auto;
              text-align: center;
              margin-right: 0px;
              margin-top: 50px;
              border: 1px solid rgba(255, 255, 255, 0);
              background-color: rgba(0, 0, 0, 0); }
        main .gridPadre .header .background1 ul .navDisplay {
          display: none;
          justify-content: center;
          align-content: center;
          background-color: #091926ad; }
          main .gridPadre .header .background1 ul .navDisplay li {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-right: 0px;
            padding-left: 5px; }
            main .gridPadre .header .background1 ul .navDisplay li a {
              justify-self: center;
              margin-right: 0px; }
    main .gridPadre .logo2 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 225px; }
      main .gridPadre .logo2 img {
        width: auto; } }

.video {
  padding-top: 50px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .video video {
    height: auto;
    width: 300px;
    margin-bottom: 25px; }

.formularioVideo {
  width: 200px; }

.colorfooter {
  color: #FBF4A1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  width: 320px;
  text-align: center;
  padding-left: 5px; }

.colorfooter form {
  display: flex; }

.colorfooter form input {
  width: 275px;
  height: 40px;
  background-color: black;
  border: 0;
  text-align: center; }

.colorfooter form button {
  background-color: #fbf3a1;
  border: 0;
  color: black; }

footer {
  background: linear-gradient(45deg, black 0%, #091825 50%, #00d4ff 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

footer h4 {
  font-family: 'Libre Bodoni';
  font-size: x-large;
  text-shadow: 3px 3px 3px black; }

.footerRedesContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FBF4A1;
  width: auto;
  margin-bottom: 5px; }

.footerRedesContacto h4 div {
  text-decoration: none;
  color: black; }

.patrocinadores {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FBF4A1;
  justify-content: space-around; }

.patrocinadores div {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.patrocinadores div img {
  height: 50px;
  width: 50px; }

/*REFERENTES*/
.referentesOrigenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #091926;
  border-bottom: 4px solid #091926;
  background-color: #fbf3a1a5; }

.referentesOrigenes img {
  height: auto;
  width: 270px; }

.referentesOrigenes p {
  color: black;
  font-size: x-small; }

.gridPadreReferentes {
  display: grid;
  grid-template: "header header" 113px "articleR articleR" auto "sectionR sectionR" auto "footer footer" auto; }

.sectionR h2 {
  text-align: center; }

.musicosReferentes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.musicosReferentesCarta {
  background-color: #091926ad;
  border: 4px solid #fbf3a1a5;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5px; }

.musicosReferentesCarta img {
  height: 100px;
  display: flex;
  border: 1px solid white; }

.musicosReferentes a {
  border: 2px solid black;
  border-radius: 5px;
  width: 80px;
  text-decoration: none;
  background-color: #fbf3a1;
  color: black; }

.menuResponsive .iconoHam {
  margin: 0px 5px 5px 0px; }

.filtrosCompra {
  background-color: #091926ad;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 5px solid grey;
  max-height: 250px;
  margin-top: 18px;
  position: sticky;
  top: 20px;
  max-width: 100px; }

.filtrosCompra a {
  width: 87px;
  font-size: xx-small; }

.filtrosCompra .col-md-8 {
  width: 100px;
  font-size: xx-small; }

.filtrosCompra .btn-primary {
  width: 70px;
  background-color: black;
  border: 2px solid gray;
  color: #fbf3a1;
  font-size: xx-small; }

.noticiasIndex {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  position: relative;
  top: 362px; }

.noticiasIndex .bg-image {
  width: auto;
  height: auto;
  background-size: 100%; }

.noticiasIndex .card-body {
  display: flex;
  flex-direction: column;
  justify-content: end; }

.video iframe {
  width: auto; }

section .col {
  width: auto;
  height: auto;
  font-size: xx-small; }

.gridPadre {
  display: grid;
  grid-template: "header header" 1000px "section section" auto "footer footer" auto; }
  .gridPadre .section {
    grid-area: section; }
  .gridPadre .footer {
    grid-area: footer; }
  .gridPadre .header {
    grid-area: header;
    background-color: #091825; }
    .gridPadre .header .background1 {
      background-image: url("../imagenes/jazz-1658886.jpg");
      background-position: center;
      background-attachment: fixed;
      background-size: 1200px;
      height: 1000px;
      padding-top: 1px; }

.logo2 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 225px; }
  .logo2 img {
    width: 450px;
    animation-duration: 1s;
    animation-name: logo2;
    animation-iteration-count: 1; }

.noticiasIndex {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  position: relative;
  top: 509px; }
  .noticiasIndex .bg-image {
    width: 500px;
    height: 250px;
    background-size: 100%; }
  .noticiasIndex .card-body {
    display: flex;
    flex-direction: column;
    justify-content: end; }

.section {
  background-image: url(../imagenes/anthony-torres-WAG2DyiFhnQ-unsplash.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: 900px; }
  .section .videoDia {
    background-color: #091825;
    text-align: center; }
  .section .video {
    display: flex;
    align-content: center;
    justify-content: center; }
  .section .formularioVideo {
    width: 180px;
    height: 140px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
    text-align: center;
    background-color: #091825;
    color: #FBF4A1;
    animation: form 1s infinite; }
    .section .formularioVideo p {
      color: white; }

.backgroundTienda {
  background-image: url(https://images.unsplash.com/photo-1516315973067-166cf84425bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); }

.d-md-block {
  position: relative;
  top: 430px;
  color: black; }
  .d-md-block h5 {
    color: white;
    font-weight: bolder; }
  .d-md-block p {
    color: white;
    font-weight: bolder; }

.imagenesTienda {
  width: 200px;
  height: auto; }

.zonaDeCompra {
  display: flex; }
  .zonaDeCompra .filtrosCompra {
    background-color: #091926ad;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid grey;
    max-height: 500px;
    margin-top: 18px;
    position: sticky;
    top: 20px; }
    .zonaDeCompra .filtrosCompra .filtrosCompra h3 {
      color: white; }
    .zonaDeCompra .filtrosCompra a {
      color: #FBF4A1;
      text-decoration: none;
      border: 2px solid rgba(0, 0, 0, 0);
      border-radius: 10px;
      width: 150px;
      text-align: center;
      background-color: black;
      transition: 0.5s; }
      .zonaDeCompra .filtrosCompra a:hover {
        border-radius: 0px; }

div .card {
  text-align: center;
  background-color: rgba(251, 243, 161, 0.41); }

.formularioCompra {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center; }
  .formularioCompra .problemasCompra {
    text-align: center;
    background-color: #091926ad;
    color: #F2E4D8;
    height: auto;
    width: auto; }
  .formularioCompra .motivo {
    height: 150px;
    width: auto;
    text-align: center;
    background-color: black;
    margin-bottom: 2px;
    border: 0px;
    color: white; }
  .formularioCompra h4 {
    color: black; }

/*FIN DE LA TIENDA*/
.referentesOrigenes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #091926;
  border-bottom: 4px solid #091926;
  background-color: #fbf3a1a5; }
  .referentesOrigenes p {
    color: black; }
  .referentesOrigenes img {
    height: 500px;
    width: 500px; }

.gridPadreReferentes {
  background-image: url(https://images.unsplash.com/photo-1515985280712-e5358accfcb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); }

.sectionR {
  background-image: url(https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: 1500px;
  margin: 0px; }

.musicosReferentes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .musicosReferentes a {
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    text-decoration: none;
    background-color: #fbf3a1;
    color: black; }

.musicosReferentesCarta {
  background-color: #091926ad;
  border: 4px solid #fbf3a1a5;
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5px; }
  .musicosReferentesCarta img {
    height: 200px;
    display: flex;
    border: 1px solid white; }

.musicosReferentes a {
  border: 2px solid black;
  border-radius: 5px;
  width: 80px;
  text-decoration: none;
  background-color: #fbf3a1;
  color: black; }
