@import "./misc/variables";
@import "./misc/animaciones";
@import"./misc/varios";

@import "./partials/footer";
@import "./partials/header";



@import "./Views/home";
@import "./Views/tienda";








