.logo{
    position: absolute;
    top: 25px;
}
.menuResponsive{
    
    .iconoHam{
        margin: none;
        display: none;
    }
    .navInput{
        display: none;
    }
    .navDisplay{
        display: grid;
        grid-template-columns: auto auto auto auto 150px;
        grid-template-rows: 100px;
        justify-content: end;
        align-items: center;
        
        li{
            list-style: none;
            
            &:active{
                padding-top: 1px;
            }

            a{
                box-shadow: inset 0px 0 0 0 #091825;
                color: #091825;
                margin: 0 -.25rem;
                padding: 0 .25rem;
                transition: color 1s, box-shadow 1s;
                padding-left: 5px;
                padding-top: 5px;
                padding-right: 5px;
                padding-bottom: 5px;
                border: $borde-reutilizado;
                border-radius: 8px;
                margin-right: 15px;
                background-color:#FBF4A1;
                color: black;
                text-decoration:none;
                
                &:hover{
                    box-shadow: inset 150px 0 0 0 #091825;
                    color: white;
                }
            }
        }
    }
}
