/*SECCION DEL FOOTER*/
.footer{
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(9,24,37,1) 50%, rgba(0,212,255,1) 100%);    display: flex;
    flex-direction: row;
    justify-content: space-between;
        .colorfooter{
            color:#FBF4A1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 150px;
            width: 400px;
            text-align: center;
            padding-left: 5px;
            
            h4{
                font-family: 'Libre Bodoni';
                font-size: x-large;   
                text-shadow: 3px 3px 3px black; 
            }
            form{
                display: flex;
                align-content: center;
                
                input{
                    width: 450px;
                    height: 35px;
                    background-color: black;
                    border:0;
                    text-align: center;
                }
                button{
                    background-color:#fbf3a1;
                    border: 0;
                    color: black;
                }
            }
        }
        .patrocinadores{
            display: flex;
            flex-direction: column;
            text-align: center;
            color:#FBF4A1;
            justify-content: space-around;
            
                div{
                    display:flex;
                    flex-direction: row;
                    img{
                        height: 50px;
                        width: 100px;
                    }
                }
        }
        .footerRedesContacto{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #FBF4A1;
            width: 180px;
            h4 {
                div{
                    text-decoration: none;
                    color: black;
            }
        }
    }
}
/*FIN DEL FOOTER*/