/*SECCION EVENTOS*/
    .eventosBackground{
        background-image:url(https://images.unsplash.com/photo-1535587566541-97121a128dc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) ;
        background-size: 1400px;
    }
    .eventoPrincipal{
        display: flex;
        background-color: black;
        .imagenEventoP{
            img{
                max-width: 700px;
            }
        }
        .infoEventoP{
            align-self: center;
            justify-self: center;
            text-align: center;
            width: 100%;
            height: 100%;
            color: white;
            padding-bottom: 100px;
            h1{
                font-size: 60px;
                font-family: $fuente-sec;
                font-weight:bolder;
            }
            h2{
                font-family: $fuente-sec;
            }
            a{
                font-family: $fuente-main;
            }
        }

    }
    .eventosSeparador{
        display: flex;
        flex-direction: column;
        span{
            max-width: auto;
            max-height: 30px;
            background-color: $color-secundario;
            overflow:visible;
            img{
                height: 100px;
                width: 900px;
                position: relative;
                bottom: 70px;
                left: 460px;

            }
        }
    }
    #todosLosEventos{
        display:grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "caja1 caja2 caja3"
        "caja4 caja5 caja6";
        background-color: $color-secundario;
        .caja{
            justify-self: center;
            align-self: center;
            img{
                max-width: 400px;
            }
        }
        .caja#caja1{
            img{
                max-width: 1000px;
                max-height: 1000px;
                width: 500px;

            }
        }
        .caja#caja2{
            grid-column: 2/4;
            align-items: center;
            justify-items: center;
            background-image: url("https://lapaginaimpar.files.wordpress.com/2010/12/eric_clapton_2010_1_by_johnnyslowhand.jpg");
            max-height:500px;
            height: 100%;
            .displayEventos{
                display: flex;
                background: $gradiente-eventos;
            }
            .displayEventosColumn{
                display: flex;
                flex-direction: column;
            }
            img{
                max-width: 1000px;
                max-height: 1000px;
                height: auto;
                width: 800px;
                justify-self: center;
                align-self: center;
            }
        }
    }

@media (min-width: 1920px){
    .eventosSeparador{
        span{
            img{
                width:2000px ;
            }
        }
    }
}

/*FIN DE EVENTOS*/