
.backgroundProducto{
    background-image: url(https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    background-attachment: fixed;
    background-size: 2000px;
}
.navegadorProducto{
    display: flex;
    margin-left: 15px;
    a{
        text-decoration:none;
        color: white;
    }
    p{
        color: white;
    }
    .situado{
        color: $color-principal;
        font-weight: bold;
    }
}
.producto{
    .carousel{
        max-width: 800px;
        margin-left: 10px;
    }
}
.productoCompra{
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
    .productoCompraEspecificaciones{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        color: white;
        margin-top:-6px ;
        align-items: center;
        font-family: $fuente-sec;
        .productoCompraEspecificacionesFlex{
            display:flex;
            flex-direction: row;
        }
        .productoCompraEspecificacionesFlex2{
            display:flex;
            flex-direction: column;
            text-align: left;
            font-size: small;
            text-align: center;
            margin-left: 20px;
            max-width: 200px;
            justify-content: center;
            h5{
                font-size: xx-large;
            }
        }
        .list-group{
            max-width: 200px;
            margin-left: 15px;
            margin-bottom: 25px;
            text-align: center;
                .color0{
                    background-image: url(https://www.fmicassets.com/Damroot/Original/10001/3-color-sunburst.png);
                    border: 1px solid transparent;
                    color: transparent;
                    transition: .5s;
                    &:hover{
                        border: 1px solid white;
                        color: $color-principal;
                        text-shadow: 2px 2px 2px black;
                    }
                }
                .color1{
                    background-image: url(https://www.fmicassets.com/Damroot/Original/10001/olympic-white.png);
                    border: 1px solid transparent;
                    color: transparent;
                    transition: .5s;
                    &:hover{
                        border: 1px solid white;
                        color: $color-principal;
                        text-shadow: 2px 2px 2px black;
                    }
                }
                .color2{
                    background-image: url(https://www.fmicassets.com/Damroot/Original/10001/swatch_fen_dark_night.png);
                    background-size: 200px;
                    border: 1px solid transparent;
                    color: transparent;
                    transition: .5s;
                    &:hover{
                        border: 1px solid white;
                        color: $color-principal;
                        text-shadow: 2px 2px 2px black;
                    }
                }
                .color3{
                    background-image: url(https://www.fmicassets.com/Damroot/Original/10001/swatch_fen_natural_roasted_pine.png);
                    background-size: 200px;
                    border: 1px solid transparent;
                    color: transparent;
                    transition: .5s;
                    &:hover{
                        border: 1px solid white;
                        color: $color-principal;
                        text-shadow: 2px 2px 2px black;
                    }
                }
                .color4{
                    background-image: url(https://www.fender.com/on/demandware.static/-/Library-Sites-Fender-Shared/default/dwe9a5d3e0/fender/products/swatches/palosanto.png);
                    background-size: 200px;
                    border: 1px solid transparent;
                    color: transparent;
                    transition: .5s;
                    &:hover{
                        border: 1px solid white;
                        color: $color-principal;
                        text-shadow: 2px 2px 2px black;
                    }
                }
        }
    }
}
.especificacionesProducto{
    background-image: linear-gradient(
        140deg,
        hsl(0deg 0% 0%) 0%,
        hsl(344deg 0% 7%) 80%,
        hsl(0deg 0% 11%) 100%
      );
      font-family: 'Raleway';
      font-weight: bold;
    .especificacionesProductoC{
        display: flex;
        flex-direction: column;
    .especificacionesProductoL{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-top: 40px;
            border-bottom: 1px solid #e0e0e019;
            p{
                max-width: 500px;
                color: rgb(110, 110, 110);
                text-align: start;
            }
            img{
                margin-bottom: 50px;
            }
    }
        .especificacionesProductoR{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 25px;
            border-bottom: 1px solid #e0e0e019;
            p{
                max-width: 500px;
                color: rgb(110, 110, 110);
                text-align: end;
            }
        }
    }
    h4{
        text-align: center;
        color: rgb(53, 53, 53);
        background-color: black;
        font-family: $fuente-sec;
    }
}
