.backgroundProducto{
    background-image: url(https://images.unsplash.com/photo-1533035350251-aa8b8e208d95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
}
.navegadorProducto{
    display: flex;
    margin-left: 15px;
    a{
        text-decoration:none;
        color: white;
    }
    p{
        color: white;
    }
    .situado{
        color: $color-principal;
        font-weight: bold;
    }
}
.producto{
    .carousel{
        max-width: 800px;
    }
}
.productoCompra{
    display: flex;
    .productoCompraEspecificaciones{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        color: white;
        margin-top:-6px ;
        align-items: center;
        .productoCompraEspecificacionesFlex{
            display:flex;
            flex-direction: row;
        }
        .productoCompraEspecificacionesFlex2{
            display:flex;
            flex-direction: column;
            text-align: left;
            font-size: small;
            text-align: center;
            margin-left: 20px;
            max-width: 200px;
            justify-content: center;
        }
        .list-group{
            max-width: 200px;
            margin-left: 15px;
            text-align: center;
                .color0{
                    background-image: url(https://www.fmicassets.com/Damroot/Original/10001/3-color-sunburst.png);
                    border: 1px solid transparent;
                    color: transparent;
                    transition: .5s;
                    &:hover{
                        border: 1px solid white;
                        color: $color-principal;
                        text-shadow: 2px 2px 2px black;
                    }
                }
                .color1{
                    background-image: url(https://www.fmicassets.com/Damroot/Original/10001/olympic-white.png);
                    border: 1px solid transparent;
                    color: transparent;
                    transition: .5s;
                    &:hover{
                        border: 1px solid white;
                        color: $color-principal;
                        text-shadow: 2px 2px 2px black;
                    }
                }
                .color2{
                    background-image: url(https://www.fmicassets.com/Damroot/Original/10001/swatch_fen_dark_night.png);
                    background-size: 200px;
                    border: 1px solid transparent;
                    color: transparent;
                    transition: .5s;
                    &:hover{
                        border: 1px solid white;
                        color: $color-principal;
                        text-shadow: 2px 2px 2px black;
                    }
                }
                .color3{
                    background-image: url(https://www.fmicassets.com/Damroot/Original/10001/swatch_fen_natural_roasted_pine.png);
                    background-size: 200px;
                    border: 1px solid transparent;
                    color: transparent;
                    transition: .5s;
                    &:hover{
                        border: 1px solid white;
                        color: $color-principal;
                        text-shadow: 2px 2px 2px black;
                    }
                }
                .color4{
                    background-image: url(https://www.fender.com/on/demandware.static/-/Library-Sites-Fender-Shared/default/dwe9a5d3e0/fender/products/swatches/palosanto.png);
                    background-size: 200px;
                    border: 1px solid transparent;
                    color: transparent;
                    transition: .5s;
                    &:hover{
                        border: 1px solid white;
                        color: $color-principal;
                        text-shadow: 2px 2px 2px black;
                    }
                }
        }
    }
}
