@media (max-width: 571px) {
    .gridPadre {
      display: grid;
      grid-template: "header header" 571px
      "section section" auto
      "footer footer" auto; }
      .navDisplay li {
        display: none;
      }
    .navDisplay {
      justify-content: center;
      align-content: center; 
    }
    .menuResponsive .iconoHam{
      display:flex;
    }
    .navInput {
      display: flex;
      width: 500px;
      color: white;
    }
    .navInput:checked + .navDisplay li {
      display: grid;
      text-align: center;
      justify-items: center;
      align-content: center;
      height: auto;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      border: 2px solid rgba(255, 255, 255, 0);
      background-color: rgba(0, 0, 0, 0); }
    .menuResponsive .navDisplay{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 50px;
      justify-content: center;
      align-content: center;    
    }
    .navDisplay li a {
      justify-self: center;
      margin-right: 0px; }
    .menuResponsive label {
      display: flex;
      justify-content: end;
      margin-top: 40px;
      margin-right: 15px; }
    .gridPadre .header {
      grid-area: header;
      backdrop-filter: blur(1px); }
    .gridPadre .header .background1 {
      background-position: center;
      background-attachment: fixed;
      background-size: 900px;
      height: 570px;
      padding-top: 1px; }
    .logo2 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 225px; }
    .logo2 img {
      width: auto; }
    .gridPadre .header .noticiasIndex{
      top: 291px;
    }
    .video {
      padding-top: 50px;
      height: auto;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center; 
    }
    .video video {
      height: auto;
      width: 300px;
      margin-bottom: 25px; }
      .section .formularioVideo {
      height: 130px; 
      margin-bottom:1px ;}
    .footer{
      color: #FBF4A1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 500px;
      width: auto;
      text-align: center; 
    }
    .footer .colorfooter{
      justify-self: center;
      align-self: center;
      width: auto;
    }
    .footer .colorfooter form {
      justify-self: center;
      align-self: center;
      width: 308px;
    }
    .footer .patrocinadores div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footer .footerRedesContacto{
      justify-self: center;
      align-self: center;
    }
    /*TIENDA*/
    .zonaDeCompra .filtrosCompra a{
      width: 88px;
      border: 1px solid #FBF4A1;
    }
    /*FIN TIENDA*/
    /*REFERENTES*/
    .referentesOrigenes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 4px solid #091926;
      border-bottom: 4px solid #091926;
      background-color: #fbf3a1a5; }
    .referentesOrigenes img {
      height: auto;
      width: 270px; }
    .referentesOrigenes p {
      color: black;
      font-size: x-small; }
    .sectionR h2 {
      text-align: center; }
    .musicosReferentes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
    .musicosReferentesCarta {
      background-color: #091926ad;
      border: 4px solid #fbf3a1a5;
      height: 200px;
      width: 300px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 5px; }
    .musicosReferentesCarta img {
      height: 100px;
      display: flex;
      border: 1px solid white; }
    .musicosReferentes a {
      border: 2px solid black;
      border-radius: 5px;
      width: 80px;
      text-decoration: none;
      background-color: #fbf3a1;
      color: black; }
    .menuResponsive .iconoHam {
      margin: 0px 5px 5px 0px; }
    .filtrosCompra {
      background-color: #091926ad;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: 5px solid grey;
      max-height: 250px;
      margin-top: 18px;
      position: sticky;
      top: 20px;
      max-width: 100px; }
    .filtrosCompra a {
      width: 87px;
      font-size: xx-small; }
    .filtrosCompra .col-md-8 {
      width: 100px;
      font-size: xx-small; }
    .filtrosCompra .btn-primary {
      width: 70px;
      background-color: black;
      border: 2px solid gray;
      color: #fbf3a1;
      font-size: xx-small; }
    .noticiasIndex {
      display: flex;
      justify-content: space-evenly;
      align-content: space-between;
      position: relative;
      top: 362px; }
    .noticiasIndex .bg-image {
      width: auto;
      height: auto;
      background-size: 100%; }
    .noticiasIndex .card-body {
      display: flex;
      flex-direction: column;
      justify-content: end; }
    .video iframe {
      width: auto; }
    section .col {
      width: auto;
      height: auto;
      font-size: xx-small; }
      .eventoPrincipal{
          flex-direction: column;
      }
      .eventoPrincipal .imagenEventoP{
          justify-self: center;
          align-self: center;
      }
      .eventoPrincipal .imagenEventoP img{
          width: 320px;
      }
      .eventosSeparador span img{
          display: none;
      }
      a.btn.btn-primary{
          transition: 1s;
          text-shadow: 2px 2px 2px black;
          background-color: black;
          border: 1px solid  $color-principal ;

      }
      .eventoPrincipal{
              display: flex;
              background-color: black;
              }
      .eventoPrincipal .infoEventoP{
          height: 119px;
          &h1{
              font-size: x-small;
          }
          p{
              font-family: $fuente-sec;
              display: flex;
              justify-content: center;
          }
      }

    .eventoPrincipal .infoEventoP h1{
        font-size: small;
    }
    .eventoPrincipal .infoEventoP h2{
        font-size: small;
    }
    .todosLosEventos{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 1920px){
  .eventosSeparador{
      span{
          img{
              width:2000px ;
          }
      }
  }
}
@media(max-width: 1350px) {
  .eventosSeparador span img{
      display: none;
  }
}